body {
	background-image: url('../images/background-grey.png');
	margin: 0;
	overflow-x: hidden;
	color: #3C3C3C;
}

header nav {
	height: 46px;
	width: 100%;
	background-color: saddleBrown;
	margin: 0 auto;
	box-shadow: 0 -5px 10px 3px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 -5px 10px 3px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 -5px 10px 3px rgba(0, 0, 0, 0.3) inset;
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-size: 8px 8px;
	-webkit-background-size: 8px 8px;
	-moz-background-size: 8px 8px;
}

div[role="main"] {
	margin: auto;
	position: relative;
	max-width: 900px;
	margin-top: 20px;
}

@media screen and (max-width: 900px) {
	#left,#lefttopback,#lefttop {
		display: none;
	}
	#right {
		-webkit-transition: max-width 1200ms ease-in 800ms;
		-moz-transition: max-width 1200ms ease-in 800ms;
		-o-transition: max-width 1200ms ease-in 800ms;
		transition: max-width 1200ms ease-in 800ms;
		max-width: 900px !important;
	}
	#bottomleft {
		padding-left: 40px !important;
	}
	#right {
		border-radius: 15px !important;
	}
}

@media screen and (max-width: 830px) {
	#right {
		min-width: 100% !important;
	}
}

@media screen and (max-width: 818px) {
	#bottomleft {
		padding-left: 10px !important;
	}
}

@media screen and (max-width: 785px) {
	#bottomleft {
		padding-left: 120px !important;
	}
	#bottomright {
		display: none;
	}
}

@media screen and (max-width: 634px) {
	#bottomleft {
		padding-left: 10px !important;
	}
}

@media screen and (max-width: 519px) {
	#bottomcenter {
		display: none;
	}
	#bottomleft {
		padding-left: 150px !important;
	}
}

@media screen and (max-width: 400px) {
	#bottomleft {
		padding-left: 30px !important;
	}
}

#right,#left,#lefttopback,#leftbottomback,pre {
	background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .2)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .2)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .2)
		25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .2) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .2) 25%,
		transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 80%, transparent 75%, transparent );
	background-size: 6px 6px;
	-webkit-background-size: 6px 6px;
	-moz-background-size: 6px 6px;
	background-color: #F3ECE7;
}

#right {
	min-height: 500px;
	max-width: 700px;
	min-width: 700px;
	float: right;
	border-radius: 15px 15px 15px 15px;
}

#leftcontainer {
	max-width: 200px;
	float: left;
	padding-left: 20px;
}

#right p {
	font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
}

#right p {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	font-size: small;
}

#left p {
	margin:0;
	text-align:right;
}

#left {
	min-height: 425px;
	border-radius: 15px 0 0 15px;
}

#lefttopback {
	width: 30px;
	height: 50px;
	margin-left: 150px;
	z-index: -5;
	position: absolute;
	margin-top: -20px;
	padding-right: 10px;
}

#leftbottomback {
	width: 30px;
	height: 15px;
	margin-left: 150px;
	z-index: -5;
	position: absolute;
	margin-top: -30px;
}

#lefttop {
	min-height: 60px;
	border-radius: 15px;
	margin-top: 15px;
	background-image: url('../images/background-grey.png');
	padding-right: 12px;
}

#leftbottom {
	min-height: 30px;
	border-radius: 15px;
	background-image: url('../images/background-grey.png');
}

.developer {
	margin: 0;
	text-align: center;
	letter-spacing: 2px;
	font-size: 7pt;
}

.name {
	letter-spacing: 2px;
	font-size: 18pt;
	text-align: center;
	margin: 0;
}

footer {
	width: 100%;
	float: left;
	margin: auto;
	padding-top: 20px;
}

footer #bottomcontainer {
	height: 130px;
	max-width: 900px;
	margin: auto;
}

#bottomleft,#bottomcenter,#bottomright {
	width: 250px;
	float: left;
}

#bottomleft p,#bottomleft table,#bottomcenter p,#bottomright p {
	font-family: "Trebuchet MS", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: small;
	color: #3C3C3C;
}

.bottomheader {
	font-size: 12pt !important;
}

.bottom-right-image {
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	border-radius: 4px;
}

#bottomleft {
	padding-left: 75px;
}

#bottomcenter {
	padding-left: 10px;
}

#bottompicture {
	height: 295px;
	width: 187px;
	background-color: white;
	margin-bottom: 20px;
	background-image: url("../images/pictureofme.png");
	background-repeat: no-repeat;
	border-radius: 10px;
}

nav ul.outer {
	margin: auto;
	width: 300px;
}

li {
	list-style-type: none;
}

li.horizontal {
	float: left;
	width: 140px;
}

.nav {
	height: 46px;
	color: black;
	cursor: pointer;
	background-color: lightgrey;
	opacity: 0.65;
	filter: alpha(opacity = 65);
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3) inset;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

nav .icon {
	font-size: 25px;
	position: relative;
	top: 5px;
}

.nav:hover,.nav-selected {
	background-color: white;
	opacity: 0.8 !important;
	filter: alpha(opacity =   80) !important;
	box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3) inset;
	-moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3) inset;
	-webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3) inset;
}

.nav-inner {
	background-repeat: no-repeat;
	width: 35px;
	height: 25px;
	margin-left: 20px;
	margin-top: 10px;
}

.sub-nav {
	width: 120px;
	height: 100px;
	display: inline-block;
	background-color: white;
	margin-top: 15px;
	margin-left: 25px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.sub-nav-bottom {
	margin-top: 30px;
}

.sub-nav-first {
	font-size: 15px;
}

.sub-nav-second {
	font-size: 40px;
}